# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# vs
x64/
.vs/
proto_define/base/__pycache__/__init__.cpython-313.pyc
proto_define/base/__pycache__/basic_define.cpython-313.pyc
proto_define/struct_desc/__pycache__/user.cpython-313.pyc
proto_define/struct_desc/__pycache__/__init__.cpython-313.pyc
proto_define/__pycache__/proto_user.cpython-313.pyc
proto_define/__pycache__/__init__.cpython-313.pyc
